
body {
    font-family: "Verdana", Geneva, sans-serif;"
}
td {
    text-align: center;
}
#bm {
    font-family: "Garamond", sans-serif;
}
h1 {
    font-family: "Garamond", sans-serif;
}
#image {
    height: 300px;
    width: 300px;
    background-image: url("https://upload.wikimedia.org/wikipedia/en/1/1c/SoundsSilence.jpg");
}
li {
    font-style: italic;
}
