
body {
    font-family: "Verdana", Geneva, sans-serif;"
}
td {
    text-align: center;
    font-style: italic;
    background-color: lightgreen;
}
#bm {
    font-family: "Garamond", sans-serif;
}
h1 {
    font-family: "Garamond", sans-serif;
}
}
li {
    font-style: italic;
}
table, th, td {
    border: 1px solid black;
    border-style: solid;
    border-collapse: collapse;
}